fastapi==0.115.12
uvicorn==0.30.6
langchain-openai==0.2.14
langchain-core==0.3.29
langchain==0.3.13
langfuse>=4,<5
redis==5.2.1
pydantic==2.10.6
PyMuPDF==1.25.5
pdf2docx==0.5.8
python-docx==1.1.2
python-pptx==1.0.2
pymilvus==2.4.9
setuptools==80.9.0
marshmallow==3.26.1
